{% extends 'base.html.twig' %}

{% block body %}
    <table>
      <tr>
        <th>Genus</th>
        <th># of species</th>
        <th>Last updated</th>
      </tr>
      {% for genus in genuses %}
        <tr>
            <td>
                <a href="{{ path('genus_show', {'genusName': genus.name}) }}">
                    {{ genus.name }}
                </a>
            </td>
            <td>
                    <a href="{{ path('admin_genus_edit', {'id': genus.id}) }}" class="btn btn-xs btn-success"><span class="fa fa-pencil"></span></a>
            </td>
        </tr>
      {% endfor %}
    </table>

{% endblock body %}